@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
   
}

.blogs{
    width: 80%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.heading{
    text-align: center;
    padding: 10px;
    margin: 10px auto;
}

.heading h1{
    font-size: 40px;
    color: rgb(60, 171, 9);
}

.heading h4{
    color: #777;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8px;

}

.cards .card{
    height: 400px;
    width: 350px;
    margin: 30px 15px;
  
}

.card img{
    width: inherit;
    height: 200px;
    padding: 10px;

}

.card .tagline{
    font-size: 17px;
    color: #000;
    font-weight: 700;
    margin: 5px 10px;
}

.tagline span{
    color: #777;
}

.title{
    color: rgb(17, 17, 227);
    font-weight: 500;
    font-size: 20px;
    margin: 5px 10px;
}

.card .content{
    margin: 5px 10px;
    font-size: 15px;
    color: #363333;
    line-height: 1.4;
}

.card a{
    text-decoration: none;
    padding: 5px 10px;
    margin: 15px 10px;
    background-color: rgb(39, 39, 234);
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
   
}

.card a:hover{
    background-color: rgb(4, 4, 131);
    
}

@media screen and (max-width: 980px) {
    .images{
        grid-template-columns: repeat(2,1fr);
    }
    
}

@media screen and (max-width: 580px) {
    .images{
        grid-template-columns: repeat(1,1fr);
    }
}